{% load wagtailimages_tags wagtailcore_tags responsiveimage %}
<div class="carousel-item {{ activeclass }}">
  {% responsiveimage value.background_image width-1200 srcset="width-700 700w, width-1200 1200w" sizes="100vw" style="display: block; width: 100%; height: auto;" %}
  <div class="container">
    <div class="carousel-caption text-left">
      <h2>{{ value.heading }}</h2>
      {{ value.text }}
      <p><a class="btn btn-lg btn-primary" href="{{ value.button_link }}" role="button">{{ value.button_text }}</a></p>
    </div>
  </div>
</div>